html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0,minimum-scale=1.0, user-scalable=0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title 示例官网
    link(rel='shortcut icon' type='image/x-icon' href='../favicon.ico')
    link(rel="stylesheet", href="../index.css",type="text/css")

  body 
    h1 获得数据: #{data}
